astropy==5.0
coveralls==3.3.1
jupyterlab==3.1.8
numpy==1.22.1
scipy==1.7.1
pandas==1.4.1
matplotlib==3.5.1
timewise==0.1.6
git+git://github.com/dfm/casjobs@main
git+git://github.com/JannisNe/mastcasjobs@master
