astropy==4.3.post1
coveralls==3.2.0
jupyterlab==3.1.8
numpy==1.21.1
scipy==1.7.1
pandas==1.3.1
tqdm==4.62.0
matplotlib==3.5.0
pyvo==1.1
pillow==8.3.2
requests==2.26.0
scikit-image==0.18.2
git+git://github.com/dfm/casjobs@main
git+git://github.com/JannisNe/mastcasjobs@master
